* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f7f7f7;
}

#left-panel {
    background-color: white;
}

#right-panel {
}


.whitebg {
    background-color: white;
}

.topbottom-padding {
    padding-bottom: 10px;
    padding-top: 10px;
}

#trompa-listing li {
    clear: both;
    min-height: 100px;
}

img.attachment {

}

#trompa-listing li img.avatar {
    width: 70px;
    border-radius: 15px;
    vertical-align: top;
    margin-right: 5px;
    float: left;
}

#trompa-listing li h5 {
    font-size: normal;
    line-height: 1.1;
}

#trompa-listing li h5 #time {
    color: #cecece;
    font-size: small;
}

.more-detail {
    font-size: small;
    color: #cecece;
}

.detail {
    font-size: small;
    color: #bfbfbf;
}

.center {
    text-align: center;
}

.alert-box.error {
    background-color: #ea0000;
    border-color: #e30000;
    color: white; 
}


#id_text {
    height: 150px;
}