{% extends "foundation/base.html" %}
{% load staticfiles %}
{% load browserid %}
{% load foundation_tags %}

{% block title %}Duzz{% endblock title %}

{% block css %}
  {% browserid_css %}
  {% foundation_css 'foundation-icons' %}
  <link rel="stylesheet" href="{% static "base/css/duzz.css" %}" />
{% endblock css %}

{% block base_body %}
  {% browserid_info %}
  <div id="active-menu-item" style="display: none;" 
       data-item="{% block active_menu_item %}{% endblock active_menu_item %}">
  </div>

  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar> 
      <ul class="title-area"> 
        <li class="name"> 
          <h1><a href="{% url 'root' %}">Duzz</a></h1> 
        </li> 
        {% if user.is_authenticated %}
          <li class="toggle-topbar menu-icon">
            <a href="#">Μενου</a>
          </li> 
        {% endif %}
      </ul> 
      <section class="top-bar-section"> 
        {% if user.is_authenticated %}
          <ul class="right">
            <li id="menu-list">
              <a href="{% url 'topics' %}">Λίστα με τρόμπες</a>
            </li> 
            <li id="menu-new">
              <a href="{% url 'topic_add' %}">Νέα Τρόμπα</a>
            </li> 
{% comment %}
            <li id="menu-people">
              <a href="#">Ανάλια</a>
            </li> 
{% endcomment %}
            <li id="menu-profile" class="has-dropdown"> 
              <a href="#">Προφίλ</a> 
              <ul class="dropdown"> 
                <li>
                  <a href="{% url 'profile' %}">Επεξεργασία</a>
                </li> 
                <li>
                  {% browserid_logout text='Την πουλεύω' %}
                </li> 
              </ul> 
            </li> 
          </ul> 
        {% endif %}
      </section> 
    </nav>
  </div>
  
  <div class="row">
    <div class="large-12  columns" id="right-panel">
      {% block main_title_container %}
        <div class="row whitebg">
          <div class="large-12 columns topbottom-padding">
            <h2>{% block main_title %}{% endblock main_title %}</h2>
          </div>
        </div>
      {% endblock main_title_container %}
      <br/>

      {% if messages %}
        {% for message in messages %}
          <div data-alert class="alert-box {{ message.tags }}">
            {{ message }}
            <a href="#" class="close">&times;</a> 
          </div>
        {% endfor %}
      {% endif %}

      {% block main_content %}
      {% endblock main_content %}

      {# Footer #}
      <div class="row">
        <div class="large-12 columns more-detail topbottom-padding center">
          #δικιαμαςφασηγαμω
        </div>
      </div>
    </div>
  </div>

{% endblock base_body %}
  {% block body_js %}
  {% foundation_js "alert" %}
  {% browserid_js %}
  <script src="{% static "base/js/active_menu.js" %} "></script>
{% endblock body_js %}

