{% extends "base.html" %}
{% load thumbnail %}

{% block main_title %}
  Προφίλ
{% endblock main_title %}

{% block active_menu_item %}menu-profiley{% endblock active_menu_item %}

{% block main_content %}
  <div class="row whitebg">
    <div class="large-3 columns topbottom-padding center">
      {% thumbnail user.avatar "256x256" crop="center" formatb="PNG" quality=85 as im %}
        <img src="{{ im.url }}">
      {% endthumbnail %}
    </div>
    <div class="large-9 columns topbottom-padding">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="radius success small right fi.arrow-left">
          <span class="fi-check"></span>
          Σώσε
        </button>
      </form>
    </div>
  </div>
{% endblock main_content %}
