{% extends "base.html" %}
{% load thumbnail %}

{% block main_title %}
  Λίστα με τρόμπες
{% endblock main_title %}
{% block active_menu_item %}menu-list{% endblock active_menu_item %}

{% block main_content %}
  <div class="row whitebg">
    <div class="large-12 columns topbottom-padding">
      <ul id="trompa-listing" class="no-bullet">
        {% for topic in topics %}
        <a href="{{ topic.get_absolute_url }}">
          <li>
            {% thumbnail topic.creator.avatar "70x70" crop="center" formatb="PNG" quality=99 as im %}
              <img class="avatar" src="{{ im.url }}">
            {% endthumbnail %}
            <h4>{{ topic.subject }}</h4>
            <span class="detail hide-for-small">
              {{ topic.creator.full_name }} | 
              Τελευταία ανανέωση: {{ topic.updated }} | 
              {{ topic.comments.count }} απαντήσεις
            </span>
            <span class="detail show-for-small">
              Τελευταία ανανέωση: τώρα
            </span>
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br/>
  {% if is_paginated %}
    <div class="row">
      <div class="large-3 small-6 columns 
                  {% if page_obj.has_next %} whitebg {% endif %} 
                  topbottom-padding">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">
            <span class="fi-arrow-left"></span>
            Παλιό πράμα
          </a>
        {% endif %}
      </div>
      <div class="large-3 large-offset-6 small-6 columns 
                  {% if page_obj.has_previous %} whitebg {% endif %} topbottom-padding">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="right">
            Νέο πράμα
            <span class="fi-arrow-right"></span>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock main_content %}
